<!DOCTYPE html>
<html>

  <head>
    <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  </head>


  <body ng-app="MyApp">
      <!-- <p>{{5+5}} </p>
      <p class="date">{{ date | date }}</p> 
    </div>
    
    <div ng-controller="appCtrl" ng-cloak="">
      <md-switch ng-model="data.cb1" aria-label="Switch 1">
          Switch 1: {{ data.cb1 }}
      </md-switch> -->
      
      <div ng-controller="AppCtrl" id="popupContainer" ng-cloak>
          <p>
            Open a dialog over the app's content. Press escape or click outside to close the dialog and
            send focus back to the triggering button.
          </p>

          <div>
            <md-button ng-click="showAlert($event)"   >
              Alert Dialog
            </md-button>
           </div>
    </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Add our Source Files here -->
  <script src="Controller.js"></script>
  
  </body>

  
</html>
